@using System.Configuration
@model AlphasoftWebsite.Core.Model.ClientList
@{
    var imagestring = ConfigurationManager.AppSettings["ClientListImage"];
}
@{
    ViewBag.Title = "AddOrEdit";
    Layout = null;
}
@using (Html.BeginForm("AddOrEdit", "ClientList", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("AddOrEdit", "ClientList", new { id = 0 }) }))//data-reset
{
    @Html.AntiForgeryToken()
    @*<div class="row">*@
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            ClientList 
                        </h3>
                        <hr />
                        <div class="form-horizontal col-md-offset-1">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.ClientID, new { id = "modelClientListId" })
                            @Html.HiddenFor(model => model.CreatedDate)
                            @Html.HiddenFor(model => model.ClientImage, new{id= "modelClientImage" })
                            @Html.HiddenFor(model => model.CreatedBy)

                            <input type="hidden" id="hiddenClientListId" />
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClientName, "Client Name", new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", @id = "clientName", @maxLength = "50" } })
                                        @Html.ValidationMessageFor(model => model.ClientName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClientReview, "Client Review", new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.ClientReview, new { htmlAttributes = new { @class = "form-control", @id = "ClientReview" }, @rows = "6", @cols = "50" })
                                        @Html.ValidationMessageFor(model => model.ClientReview)
                                    </div>
                                </div>

                               

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsActive,"Is Active", new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.IsActive)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-6 col-md-6">
                                        <input type="submit" value="Submit" class="btn btn-success" />
                                        @if (Model.ClientID != 0)
                                        {
                                            <a class="btn btn-default" onclick="refreshAddNewTab('@Url.Action("AddOrEdit", "ClientList", new {id = 0})', false)"><i class="fa fa-plus"></i> Add New</a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClientImage, "Client Image", new { @class = "control-label col-md-1" })
                                    <div class="col-md-6">
                                        @if (Model.ClientImage != null)
                                        {
                                            string image = imagestring + Model.ClientImage;
                                            <img src="@Url.Content(image)" style="margin: 10px" height="200" width="200" id="previewImage" />
                                        }
                                        else

                                        {
                                            <img src="@Url.Content("../../Image/ClientList/Demo.png")" style="margin: 10px" height="100" width="100" id="previewImage" />
                                        }
                                        <input type="file" id="ClientListimage" name="uploadedFile" accept="image/jpeg, image/png" onchange="ShowImagePreview(this, document.getElementById('previewImage'))" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </Section>
}





