@model AlphasoftWebsite.Core.Model.PricingTableType
@{
    ViewBag.Title = "AddOrEdit";
    Layout = null;
}
@using (Html.BeginForm("AddOrEdit", "PricingTableType", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("AddOrEdit", "PricingTableType", new { id = 0 }) }))//data-reset
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            Pricing Table Type
                        </h3>
                        <hr />
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.PricingTableTypeID)
                            @Html.HiddenFor(model => model.CreatedDate)
                            @Html.HiddenFor(model => model.CreatedBy)


                            <div class="form-group">
                                @Html.LabelFor(model => model.PricingTableTypeName, "Pricing Table Type Name", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PricingTableTypeName, new { htmlAttributes = new { @class = "form-control", @id = "PricingTableTypeName", @maxLength = "100" } })
                                    @Html.ValidationMessageFor(model => model.PricingTableTypeName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PricePerMonth, "Price Per Month", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PricePerMonth, new { htmlAttributes = new { @class = "form-control", @id = "PricePerMonth" } })
                                    @Html.ValidationMessageFor(model => model.PricePerMonth)
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive,"Is Active", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" value="Submit" class="btn btn-success" />
                                    @if (Model.PricingTableTypeID != 0)
                                    {
                                        <a class="btn btn-default" onclick="refreshAddNewTab('@Url.Action("AddOrEdit","PricingTableType",new{id=0})', false)"><i class="fa fa-plus"></i> Add New</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}