@using System.Configuration
@model AlphasoftWebsite.Core.Model.SmtpHost
@{
    ViewBag.Title = "AddOrEdit";
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "SmtpHost", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("AddOrEdit", "SmtpHost", new { id = 0 }) }))//data-reset
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            SMTP Host
                        </h3>
                        <hr />
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.SmtpHostId, new { id = "modelSmtpHostId" })
                            @Html.HiddenFor(model => model.CreatedBy)
                            @Html.HiddenFor(model => model.CreatedDate)


                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, "Email ID", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "userName" } })
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, "Password", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Host Type</label>
                                <div class="col-md-8">
                                    <select id="ddlHostType" name="HostTypeId" class="form-control select2" style="width: 26.5%">
                                        <option></option>
                                    </select>
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActiveUserName, "Is Active Email ID", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsActiveUserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IsActiveUserName)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" value="Submit" class="btn btn-success" />
                                    @if (Model.SmtpHostId != 0)
                                    {
                                        <a class="btn btn-default" onclick="refreshAddNewTab('@Url.Action("AddOrEdit","SmtpHost",new{id=0})', false)"><i class="fa fa-plus"></i> Add New</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


<script>

    $(document).ready(function () {

        GetAllHostTypes("ddlHostType");
    });
</script>