@using System.Configuration
@using AlphasoftWebsite.Core.Model
@model IEnumerable<AlphasoftWebsite.Core.Model.HomeBanner>
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewBag.Title = "Index";
}
@{
    var imgString = ConfigurationManager.AppSettings["HomeBannerImage"];
    var image = "";
    var imgString2 = ConfigurationManager.AppSettings["ClientBackgroundImage"];
    var image2 = "";
    var imgString3 = ConfigurationManager.AppSettings["ClientListImage"];
    var image3 = "";
}
<section>
    <div class="main-slider swiper-container">
        <div class="swiper-wrapper">
            <!-- Single slide -->
            @foreach (var item in ViewBag.MainBanner)
            {
                if (item.HomeBannerImage != null)
                {
                    image = imgString + item.HomeBannerImage;
                }

                <div class="swiper-slide position-relative">
                    <img src="@Url.Content(image)" data-rjs="2" alt="">
                    <div class="slide-content container">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-8">
                                <div class="slide-content-inner">
                                    <h4 data-animate="fadeInUp" data-delay=".05">@item.HomeBannerHeader</h4>
                                    <h2 data-animate="fadeInUp" data-delay=".3">@item.HomeBannerDescription</h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- End of Single slide -->

        </div>
        <!-- Banner Pagination -->
        <div class="swiper-pagination main-slider-pagination"></div>
    </div>
</section>
<!-- End of Banner -->
<!-- Abut Us -->
<section class="pt-120 pb-55">
    <div class="container">
        <div class="row align-items-center pb-80">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="text-center" data-animate="fadeInUp" data-delay=".1">
                    <img src="~/Content/Frontend/img/number-one.png" alt="" data-rjs="2">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="number-one-content" data-animate="fadeInUp" data-delay=".5">
                    <h2 class="mb-3">We are no.Software Company in Bangladesh.</h2>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
                    <a href="#" class="btn">View Details</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
                <div class="single-feature single-feature-img-top text-center" data-animate="fadeInUp" data-delay=".1">
                    <div class="single-feature-img">
                        <img src="~/Content/Frontend/img/icons/setup.svg" alt="" class="svg">
                    </div>
                    <div class="single-feature-content">
                        <h4>Free Installations & Setup</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-feature single-feature-img-top text-center" data-animate="fadeInUp" data-delay=".4">
                    <div class="single-feature-img">
                        <img src="~/Content/Frontend/img/icons/download.svg" alt="" class="svg">
                    </div>
                    <div class="single-feature-content">
                        <h4>Up to 1 Gpbs Download Speed</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-feature single-feature-img-top text-center" data-animate="fadeInUp" data-delay=".7">
                    <div class="single-feature-img">
                        <img src="~/Content/Frontend/img/icons/support.svg" alt="" class="svg">
                    </div>
                    <div class="single-feature-content">
                        <h4>24/7 Customer Support</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of About Us -->
<!-- Services -->
<section class="theme-bg-overlay bg-img-md-none pt-120 pb-90" data-bg-img="../../Content/Frontend/img/rocket.jpg" data-rjs="2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title section-title-white text-center" data-animate="fadeInUp" data-delay=".1">
                    <h2>Services We Provide</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
                </div>
            </div>
        </div>
        <div class="row">
        @foreach (Service item in ViewBag.Services)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="single-service single-service-white text-center" data-animate="fadeInUp" data-delay=".1">
                    @*<img src="~/Content/Frontend/img/icons/earth.svg" alt="" class="svg">*@
                    <i class=" fa fa-4x @item.IconList.IconName"></i>
                    <h4>@item.ServiceName</h4>
                    <p>@item.ServiceDescription</p>
                    <a href="#">Learn More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        }
        </div>
    </div>
</section>
<!-- End of Services -->
<!-- Packages Wrap -->
<section class="pt-120 pb-55">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" data-animate="fadeInUp" data-delay=".1">
                    @foreach (Pricing item in ViewBag.Pricing)
                    {
                        <h2>@item.PricingHeader</h2>
                        <p>@item.PricingBody</p>

                    }
                </div>
            </div>
        </div>

        <!-- Packages -->
        <div class="row pb-90">
            @foreach (PricingTableType item in ViewBag.PricingTableType)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="single-package text-center" data-animate="fadeInUp" data-delay=".1">
                        <h4>@item.PricingTableTypeName</h4>
                        @*<span>for personal user</span>*@
                        <hr>
                        <ul class="list-unstyled">
                            @foreach (var data in item.PricingDetails)
                            {

                                <li>@data.PricingDetailType.PricingDetailTypeName: @data.PricingDetailQuantity</li>

                            }
                            @*@foreach (PricingDetail data in ViewBag.PricingDetail)
                                {
                                    <li>@data.PricingTableType.PricingTableTypeName:@data.PricingDetailQuantity</li>
                                }*@
                        </ul>
                        <p><sup>$</sup>@item.PricePerMonth <span>/Monthly</span></p>
                        <a href="#" class="btn">Order This Plan</a>
                    </div>
                </div>
            }

        </div>
        <!-- End of Packages -->
        <!-- Packages Includes -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" data-animate="fadeInUp" data-delay=".1">
                @foreach (FactorHeader item in ViewBag.FactorHeader)
                {
                    <h2>@item.FactorHeaderName</h2>
                    <p>@item.FactorHeaderBody</p>
                }
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (FactorDetail item in ViewBag.Factor)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="single-feature single-feature-img-left text-left" data-animate="fadeInUp" data-delay=".05">
                        <div class="single-feature-img">
                            <i class="fa fa-4x @item.IconList.IconName" ></i>
                            @*<img src="~/Content/Frontend/img/icons/ftp.svg" alt="" class="svg">*@
                        </div>
                        <div class="single-feature-content">
                            <h4>@item.FactorDetailName</h4>
                            <p>@item.FactorDetailDescription</p>
                        </div>
                    </div>
                </div>
            }
            
         
        </div>
        <!-- End of Packages Includes -->
    </div>
</section>
<!-- End of Packages Wrap -->
<!-- Reviews -->
@foreach (Client data in ViewBag.Client)
{
    if (data.ClientBackgroundImage != null)
    {
        image2 = imgString2 + data.ClientBackgroundImage;
    }

    <section class="theme-bg-overlay bg-img-xs-none pt-120 pb-120" data-bg-img="@Url.Content(image2)" data-rjs="2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="section-title section-title-white text-center" data-animate="fadeInUp" data-delay=".1">
                        <h2>@data.ClientHeader</h2>
                        <p>@data.ClientBody</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- Review Slider -->
                    <div class="review-slider-wraper position-relative">
                        <div class="swiper-container review-slider">
                            <div class="swiper-wrapper">
                                <!-- Single Review -->
                                @foreach (ClientList item in ViewBag.ClientList)
                                {
                                    if (item.ClientImage != null)
                                    {
                                        image3 = imgString3 + item.ClientImage;
                                    }
                                    <div class="swiper-slide">
                                        <div class="review-text">
                                            <p>@item.ClientReview</p>
                                        </div>
                                        <div class="review-author d-flex align-items-center">
                                            <div class="review-author-img">
                                                <img src="@Url.Content(image3)" alt="">
                                            </div>
                                            <div class="review-author-info">
                                                <ul class="list-inline">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                                <span><strong>@item.ClientName</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Single Review -->
                                }
                             
                            </div>
                        </div>

                        <!-- Arrows -->
                        <div class="swiper-button-next next-review">
                            <img src="~/Content/Frontend/img/icons/right-arrow.svg" alt="" class="svg">
                        </div>
                        <div class="swiper-button-prev prev-review">
                            <img src="~/Content/Frontend/img/icons/left-arrow.svg" alt="" class="svg">
                        </div>
                    </div>
                    <!-- End of Review Slider -->
                </div>
            </div>
        </div>
    </section>
}
<!-- End of Reviews -->
<!-- FAQ -->
<section class="pt-120 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq pb-50" data-animate="fadeInUp" data-delay=".1">
                    <div class="section-title">
                        <h2>Frequently Asked Questions</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
                    </div>
                    <div class="accordion" id="accordionFaq">
                        <div class="single-faq">
                            <div class="faq-title d-flex align-items-center">
                                <h3 class="h5" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">I can’t access my internet. How do i contact with support center?</h3>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionFaq">
                                <div class="faq-answer">
                                    <p><span>Ans: </span>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-faq">
                            <div class="faq-title d-flex align-items-center">
                                <h3 class="h5" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">I already paid my bill but still its showing Due. Why is that?</h3>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionFaq">
                                <div class="faq-answer">
                                    <p><span>Ans: </span>Pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-faq">
                            <div class="faq-title d-flex align-items-center">
                                <h3 class="h5" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How can I contact with your emergency higher management?</h3>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionFaq">
                                <div class="faq-answer">
                                    <p><span>Ans: </span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="popup-video mb-50" data-animate="fadeInUp" data-delay=".4">
                    <img src="~/Content/Frontend/img/video-thumb.jpg" data-rjs="2" alt="">
                    <a href="https://www.youtube.com/watch?v=6ZfuNTqbHE8" class="youtube-popup play-btn ripple">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of FAQ -->
<!-- Latest news -->
<section class="light-bg pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" data-animate="fadeInUp" data-delay=".1">
                    <h2>Latest News</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="latest-news-wraper position-relative">
                    <div class="swiper-container news-slider">
                        <div class="swiper-wrapper">
                            <div class="single-news swiper-slide">
                                <a class="tip" href="#">News</a>
                                <img src="~/Content/Frontend/img/posts/post1.jpg" data-rjs="2" alt="">
                                <ul class="list-unstyled d-flex align-items-center">
                                    <li><img src="~/Content/Frontend/img/authors/author1.jpg" alt=""></li>
                                    <li>by <a href="#">Zane M. Frye</a></li>
                                    <li><a href="#">January 19, 2018</a></li>
                                </ul>
                                <h3 class="h5"><a href="blog-details.html">Everything you need to know to cut the cord and ditch cable to order now</a></h3>
                                <a href="blog-details.html">Continue Reading <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="single-news swiper-slide">
                                <a class="tip" href="#">News</a>
                                <img src="~/Content/Frontend/img/posts/post2.jpg" data-rjs="2" alt="">
                                <ul class="list-unstyled d-flex align-items-center">
                                    <li><img src="~/Content/Frontend/img/authors/male.png" alt=""></li>
                                    <li>by <a href="#">Zane M. Frye</a></li>
                                    <li><a href="#">January 19, 2018</a></li>
                                </ul>
                                <h3 class="h5"><a href="blog-details.html">Why the FCC's latest net neutrality defense is hollow on the flow</a></h3>
                                <a href="blog-details.html">Continue Reading <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="single-news swiper-slide">
                                <a class="tip" href="#">News</a>
                                <img src="~/Content/Frontend/img/posts/post3.jpg" data-rjs="2" alt="">
                                <ul class="list-unstyled d-flex align-items-center">
                                    <li><img src="~/Content/Frontend/img/authors/female.png" alt=""></li>
                                    <li>by <a href="#">Zane M. Frye</a></li>
                                    <li><a href="#">January 19, 2018</a></li>
                                </ul>
                                <h3 class="h5"><a href="blog-details.html">Powered Enterprise IT: Cloud implementation built for the future</a></h3>
                                <a href="blog-details.html">Continue Reading <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="single-news swiper-slide">
                                <a class="tip" href="#">News</a>
                                <img src="~/Content/Frontend/img/posts/post1.jpg" data-rjs="2" alt="">
                                <ul class="list-unstyled d-flex align-items-center">
                                    <li><img src="~/Content/Frontend/img/authors/author1.jpg" alt=""></li>
                                    <li>by <a href="#">Zane M. Frye</a></li>
                                    <li><a href="#">January 19, 2018</a></li>
                                </ul>
                                <h3 class="h5"><a href="blog-details.html">Three privacy tools that block your Internet provider from tracking your computer</a></h3>
                                <a href="blog-details.html">Continue Reading <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next next-news">
                        <img src="~/Content/Frontend/img/icons/right-arrow.svg" alt="" class="svg">
                    </div>
                    <div class="swiper-button-prev prev-news">
                        <img src="~/Content/Frontend/img/icons/left-arrow.svg" alt="" class="svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Latest news -->
<!-- Product Carousel -->
<section class="pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" data-animate="fadeInUp" data-delay=".1">
                    <h2>Popular Products</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-carousel-wraper position-relative">
                    <div class="swiper-container product-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide single-product">
                                <span class="tip">New</span>
                                <img src="~/Content/Frontend/img/products/product1.jpg" data-rjs="2" alt="">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h3 class="h5">
                                    <a href="#">Wireless security camera for personal/home use</a>
                                </h3>
                                <div class="price-and-all position-relative">
                                    <span class="price">$10.50</span>
                                    <ul class="list-unstyled d-flex">
                                        <li><a href="#" class="btn">Add to Cart</a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide single-product">
                                <span class="tip">New</span>
                                <span class="discount">25% off</span>
                                <img src="~/Content/Frontend/img/products/product2.jpg" data-rjs="2" alt="">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h3 class="h5">
                                    <a href="#">TpLink-MR3420, 3G/4G Wireless N Router</a>
                                </h3>
                                <div class="price-and-all position-relative">
                                    <span class="price"><del>$12.50</del> $10.50</span>
                                    <ul class="list-unstyled d-flex">
                                        <li><a href="#" class="btn">Add to Cart</a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide single-product">
                                <span class="tip">New</span>
                                <img src="~/Content/Frontend/img/products/product3.jpg" data-rjs="2" alt="">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h3 class="h5">
                                    <a href="#">Unlocked 4g lte Modem Aircard Sierra 320U 4G LTE</a>
                                </h3>
                                <div class="price-and-all position-relative">
                                    <span class="price">$10.50</span>
                                    <ul class="list-unstyled d-flex">
                                        <li><a href="#" class="btn">Add to Cart</a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide single-product">
                                <span class="tip">New</span>
                                <img src="~/Content/Frontend/img/products/product4.jpg" data-rjs="2" alt="">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h3 class="h5">
                                    <a href="#">Micro-soft Office 365 Business Premium</a>
                                </h3>
                                <div class="price-and-all position-relative">
                                    <span class="price">$10.50</span>
                                    <ul class="list-unstyled d-flex">
                                        <li><a href="#" class="btn">Add to Cart</a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide single-product">
                                <span class="tip">New</span>
                                <span class="discount">25% off</span>
                                <img src="~/Content/Frontend/img/products/product5.jpg" data-rjs="2" alt="">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h3 class="h5">
                                    <a href="#">TP-LINK TL-WR642G - wireless router - 802.11</a>
                                </h3>
                                <div class="price-and-all position-relative">
                                    <span class="price"><del>$12.50</del> $10.50</span>
                                    <ul class="list-unstyled d-flex">
                                        <li><a href="#" class="btn">Add to Cart</a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide single-product">
                                <span class="tip">New</span>
                                <span class="discount">25% off</span>
                                <img src="~/Content/Frontend/img/products/product6.jpg" data-rjs="2" alt="">
                                <ul class="list-inline">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h3 class="h5">
                                    <a href="#">LaCie Porsche Design 32GB USB 3.0 Flash Drive</a>
                                </h3>
                                <div class="price-and-all position-relative">
                                    <span class="price"><del>$12.50</del> $10.50</span>
                                    <ul class="list-unstyled d-flex">
                                        <li><a href="#" class="btn">Add to Cart</a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" class="btn btn-icon"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next next-product">
                        <img src="~/Content/Frontend/img/icons/right-arrow.svg" alt="" class="svg">
                    </div>
                    <div class="swiper-button-prev prev-product">
                        <img src="~/Content/Frontend/img/icons/left-arrow.svg" alt="" class="svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Product Carousel -->
<!-- Subscription -->
<section class="pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5">
                <div class="section-title pb-0" data-animate="fadeInUp" data-delay=".1">
                    <h2>Sign Up to Newsletter</h2>
                    <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <!-- Subscription form -->
                <div class="subscription-form" data-animate="fadeInUp" data-delay=".4">
                    <form class="parsley-validate" action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d" method="post" name="mc-embedded-subscribe-form" target="_blank">
                        <input type="email" name="EMAIL" class="theme-input-style" placeholder="Enter your e-mail address" required>
                        <button class="btn" type="submit">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Subscription -->
<!-- Brands -->

<section class="pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" data-animate="fadeInUp" data-delay=".1">
                    <h2>Our Client</h2>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-carousel-wraper position-relative">
                    <div class="swiper-container product-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide single-product">                              
                                <img src="~/Content/Frontend/img/brands/brand1.png" alt="">                                                                                    
                            </div>
                            <div class="swiper-slide single-product">                               
                                <img src="~/Content/Frontend/img/brands/brand2.png" alt="">                                                            
                            </div>
                            <div class="swiper-slide single-product">                              
                                <img src="~/Content/Frontend/img/brands/brand3.png" alt="">                               
                            </div>
                            <div class="swiper-slide single-product">                       
                                <img src="~/Content/Frontend/img/brands/brand4.png" alt="">                               
                            </div>
                            <div class="swiper-slide single-product">                                                            
                                <img src="~/Content/Frontend/img/brands/brand5.png" alt="">                             
                            </div>
                            <div class="swiper-slide single-product">                                                           
                                <img src="~/Content/Frontend/img/brands/brand6.png" alt="">                               
                            </div>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End of Brands -->
