@model AlphasoftWebsite.Core.Model.FAQHeader
@{
    ViewBag.Title = "AddOrEdit";
    Layout = null;
}
@using (Html.BeginForm("AddOrEdit", "FAQHeader", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("AddOrEdit", "FAQHeader", new { id = 0 }) }))//data-reset
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            Frequently Asked Questions Header
                        </h3>
                        <hr />
                        <div class="form-horizontal ">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.FAQHeaderId)
                            @Html.HiddenFor(model => model.CreatedBy)
                            @Html.HiddenFor(model => model.CreatedDate)


                            <div class="form-group">
                                @Html.LabelFor(model => model.FAQHeaderName, "Frequently Asked Question Name", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.FAQHeaderName, new { htmlAttributes = new { @class = "form-control", @id = "haderName", @maxLength = "50" } })
                                    @Html.ValidationMessageFor(model => model.FAQHeaderName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FAQHeaderBody, "Frequently Asked Question Header Body", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.FAQHeaderBody, new { htmlAttributes = new { @class = "form-control", @id = "headerBody", @maxLength = "100" }, @rows = "6", @cols = "50" })
                                    @Html.ValidationMessageFor(model => model.FAQHeaderBody)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive,"Is Active", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" value="Submit" class="btn btn-success" />
                                    @if (Model.FAQHeaderId != 0)
                                    {
                                        <a class="btn btn-default" onclick="refreshAddNewTab('@Url.Action("AddOrEdit","FAQHeader",new{id=0})', false)"><i class="fa fa-plus"></i> Add New</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}