@using System.Configuration
@model IEnumerable<AlphasoftWebsite.Core.Model.Client>
@{
    var imagestring = ConfigurationManager.AppSettings["ClientBackgroundImage"];
}

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
    int rowNo = 0;
}
<style>
    th {
        text-align: center
    }
</style>
<table class="table table-striped table-condensed table-bordered" id="clientTable" style="text-align: center">
    <thead>
    <tr>
        <th>
            SL
        </th>
        <th>
            Client Header
        </th>
        <th>
            Client Body
        </th>
        <th>
          Background Image
        </th>      
        <th>
            Is Active
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td align ="center" width="5%">
                    @(rowNo += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientHeader)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ClientBody)
                    </td>
                
                    
                <td align ="center">
                        
                    @if (item.ClientBackgroundImage != null)
                    {
                        string image = imagestring + item.ClientBackgroundImage;
                        // <img onerror="this.src='@Url.Content("../../Image/HomeBanner/image-icon.png")';" width="50" height="50" />
                        <img id="img_clientImage" width="250" height="150" class="thumbnail" src = '@Url.Content(image)' alt="Missing Image"/>
                    }
                    else
                    {
                        <label style="color: red">Image is not Available</label>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "Client", new {id = @item.ClientID})')"><i class="fa fa-pencil fa-lg"></i></a>
                    <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "Client", new {id = @item.ClientID})')"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            </tr>
        }
    }

    </tbody>
</table>